:root {
    --primary-color: #ff6620;
    --secondary-color: grey;
    --text-color: #000;
    --text-color-light: #fff;
    --background-color:#f2f3f6;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body {
    font-family: 'Arial, Helvetica, sans-serif';
    margin: 0;
    padding: 0;
    color: var(--text-color);
    min-width: 320px;
    overflow: auto;
}
.section{
    display: block;
    padding: 30px 0;
    margin: 0;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
    margin: 0;padding: 0;
}

.scroll-to-top {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.5s ease,background-color 0.3s ease;
    overflow-x: hidden;
}

.scroll-to-top.show {
    opacity: 1;
}

.scroll-to-top:hover {
    background-color: var(--text-color);
}
.sectiontitle{
    border-left: 2px solid var(--primary-color);
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    color: var(--secondary-color);
    display: inline-block;
}
.sectionHeadingText{
    font-weight: bold;
    font-size: 29px;
    margin: 0 0 20px 0;
    color: var(--text-color-dark);
}
.divider {
    margin: 10px 20px;
    color: rgba(0, 0, 0, 0.3);
}
.description,.team p{
    color: var(--secondary-color);
}
a{
    text-decoration: none;
    color: var(--text-color-light);
}
.btn {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 16px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-right: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    transition: background-color 0.3s ease;
    border-radius: 4px;
    display: inline-block;
}
.btn:hover {
    background-color: var(--text-color);
}

/* hero section */

.hero-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 30, 0.6);
    z-index: 2;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text-color-light);
    z-index: 3;
}

.hero-content .renover-logo {
    height: 80px;
    width: 80px;
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-content .heading{
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    width: auto;
}
.hero-content .corner-left, .hero-content .corner-right{
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.hero-content .corner-left {
    background-image: url('/images/corner-left.png');
    top: -15px;
    left: -25px;
}

.hero-content .corner-right {
    background-image: url('/images/corner-right.png');
    bottom: -10px;
    right: -20px;
}
.hero-content .heading h1{
    position: relative;
    z-index: 1;
}
.hero-content .btn{
    border-right: 3px solid var(--text-color-light);
    border-bottom: 3px solid var(--text-color-light);
}
.hero-content .btn:hover {
    background-color: var(--text-color-light);
    color: var(--primary-color);
}

/* intro-container */
.intro-container .introItems{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro-container .content, .intro-container .img{
    width: 100%;
    position: relative;
    min-height: 1px;
    display: flex;
    opacity: 0;
}
.intro-container .content {
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.intro-container .img {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 45px 10px 10px;
}

.intro-container img {
    height: 100%;
    width: 100%;
    padding: 0px 20px 20px 0px;
    border-radius: 10px;
    border-right: 15px solid var(--primary-color);
    border-bottom: 15px solid var(--primary-color);
}

.intro-container .content .elements {
    text-align: center;
}

.intro-container .content .elements .item {
    margin: 0;
    text-align: center;
}

.intro-container .content .elements .item i {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.intro-container .content .elements .item h4 {
    display: block;
    padding: 5px 0;
}

/* get in touch  */
.get-in-touch {
    height: auto;
    background-color: var(--background-color);
    padding: 50px 10px;
}
.get-in-touch .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-in-touch h3{
    font-size: 1.5rem;
    font-weight: 700;
}


/* projectSection */
.projectSection {
    background-color: #22273A;
    padding: 30px 0;
}

.projectSection .sectionHeadingText{
    color: var(--text-color-light);
}

.projectSection .headings {
    text-align: center;
    margin-bottom: 20px;
}
.projectSection .item h2{
    padding: 10px 0;
    font-weight: bold;
}

.projectSection .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projectSection .item {
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    opacity: 0;
}
.projectSection .item:hover{
    transform: scale(1.05);
}
.projectSection .item-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.projectSection .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectSection .item-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.projectSection .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: var(--text-color-light);
    z-index: 2;
    text-align: center;
    opacity: 1;
    visibility: visible;
}

.projectSection .text .type {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.projectSection .text h2 {
    font-size: 1.5rem;
}

 /* why choose us */
 .why-choose-us {
    height: 550px;
    overflow: hidden;
}

.why-choose-us .whyChooseUsContent {
    position: relative;
    width: 100%;
    padding: 10px;
     
}

.why-choose-us .worker-img {
    width: 50%;
    height: 80%;
    position: relative;
    padding: 20px;
    min-width: 250px;
    opacity: 0;
}

.why-choose-us .worker-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-choose-us .content {
    background-color: var(--text-color-light);
    width: 70%;
    height: calc(100% - 20%);
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 30px; 
    z-index: 1;
    opacity: 0;
     
}

.why-choose-us .content .description {
    padding: 0 40px 20px 0; 
}


/* Responsive */
@media (max-width:1200px){
    .projectSection .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px) {
    .hero-section .heading{
        font-size: 29px;
    }
    .introItems{
        flex-direction: column-reverse;
    }
    .introItems .img{
        padding: 10px;
    }
    .intro-container .content {
        flex-direction: column;
        align-items: center;
    }
    
    .intro-container .content .elements .item {
        flex-direction: column;
        align-items: center;
    }
    
    .intro-container .elements .item h4 {
        font-size: 0.8rem;
    }
    
    .intro-container img {
        width: 80%;
    }
    .get-in-touch .content{
        flex-direction: column;
    }
    .get-in-touch h3 {
        margin-bottom: 15px; 
        font-size: 1.2rem;
        text-align: center;
    }
    .projectSection .items{
        grid-template-columns: repeat(2,1fr);
    }

    .projectSection .text h2 {
        font-size: 1.3rem;
    }
    .why-choose-us {
            flex-direction: column;
            height: auto;
            padding: 20px; 
        }
    
    .why-choose-us .worker-img {
            width: 80%;
            padding: 10px; 
        }
    
    .why-choose-us .content {
        height: auto;
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        transform: none;
        margin-bottom: 20px;
        padding: 20px;
        box-shadow: none;
    }
    
    .why-choose-us .content .description {
        padding: 0 0px 20px 0;
    }
}

@media (max-width: 480px) {
    .hero-content p {
        font-size: 1rem;
    }
    .sectionHeading{
        font-size: 20px;
    }
    .hero-section .heading, .sectionHeadingText{
        font-size: 24px;
    }
    .hero-content .btn {
        padding: 10px 9px;
    }
    .intro-container .img img {
        width: 100%;
        height: auto;
    }
    .projectSection .items{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 767px){
    .intro-container .introItems{
        flex-direction: row;
    }
    .introItems .content,.introItems .img{
        width: 50%;
    }
}
